@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.central{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formageometrica {
    background-color: #42882E;
    height: 235px;
    clip-path: polygon(0 40%, 0 0, 100% 0, 100% 40%, 50% 90%);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
}

.card {
   background-color: #2D5B18; 
   width: 365px;
   color: #fff;
   text-align: center;
   border-radius: 10px;
   padding: 45px 35px;
   font-family: 'Roboto', sans-serif;
   position: relative;
}

.card img {
    clip-path: circle();
}

.card h1 {
    font-size: 28px;
    margin: 20px 0;
}
.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #CABDBD;
}

.card ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card ul a span {
    font-size: 45px;
    color: black;
}

.card ul a span:hover {
    color: #fff;
    transition: 0.3s;
}

img{
    border-radius: 50%;
    width: 150px;
    height: auto;
}