/* centralizar */
body {
  margin: 0 auto;
  text-align: center;
}
/* fim centralizar */
/* fonte */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}
/* fim fonte */
/* borda */
body {
  border: 1px solid #000;
}
